* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}
/* header */
header {
  width: 100%;
  background-color: #090369f2;
}

#logo {
  display: inline;
  vertical-align: middle;
}

header nav {
  display: inline;
  vertical-align: middle;
}

nav ul {
  display: inline;
}

nav ul li {
  display: inline;
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;

}

nav ul li a {
  line-height: 10vh;
  text-decoration: none;
  color: white;
  padding: 15px;

}


nav.right {
  margin-left: 5vw;
}

.button {
  border: 1px solid;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

.blue.button {
  border-color: white;
}

.green.button {
  background-color: green;
  border-color: green;
}

.head_bottom {
  width: 100%;
  height: 70vh;
  background-image: url("../img/background-header.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

/* main */

.title {
  position: relative;
  top: 30%;
  width: 40vw;
  color: white;
  font-size: 25px;
}

.title > h1 {
  margin-bottom: 20px;
}

.main_top {
  width: 100%;
  padding: 40px 0;
  background-color: lightgrey;
  text-align: center;
  margin-bottom: 50px;
}

.main_top p, div.col p {
  color: #585c5e;
}

.main.container {
  width: 70%;
  text-align: center;
}

.col {
  width: 20vw;
  float: left;
  padding: 20px;
}

.col.middle {
  margin: 0 30px;
}

.col_img > img {
  height: 100px;
}

div.col_text h3 {
  color: green;
}

div.col_text hr {
  width: 30%;
  margin: 15px auto;
}

div.col.leftt_bottom {
  width: 500px;
}

.bottom_row {
margin: 20px auto;
}

div.col.right_bottom {
  text-align: left;
}

div.col.right_bottom h3 {
  font-size: 25px;
  padding: 10px 0;
}

div.col.right_bottom a {
  color: #1683da;
}

/* footer */
footer {

  height: 10vh;
  background-color: lightgrey;
}

footer h2 {
  line-height: 10vh;
  margin-left: 10vw;
  vertical-align: middle;
  display: inline;
}

div.bottom_nav{
  display: inline;
  text-align: right;
}
