* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}
/* header */
header {
  width: 100%;
  background-color: #090369f2;
}

#logo {
  display: inline;
  vertical-align: middle;
}

header nav {
  display: inline;
  vertical-align: middle;
}

nav ul {
  display: inline;
}

nav ul li {
  display: inline;
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;
}

nav ul li a {
  line-height: 10vh;
  text-decoration: none;
  color: white;
  padding: 15px;
}

nav.right {
  margin-left: 5vw;
}

.button {
  border: 1px solid;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

.button > a {
  color: white;
  text-decoration: none;
}

.blue.button {
  border-color: white;
}

.green.button {
  background-color: green;
  border-color: green;
}

.green.button.large {
  padding: 15px;
}

.head_bottom {
  width: 100%;
  height: 70vh;
  background-image: url("../img/background-header.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

/* main */
.title {
  position: relative;
  top: 30%;
  width: 60%;
  color: white;
  font-size: 25px;
}

.title > h1 {
  margin-bottom: 30px;
}

.main_top {
  width: 100%;
  padding: 40px 0;
  background-color: lightgrey;
  text-align: center;
  margin-bottom: 50px;
}


.main.container {
  width: 70%;
  text-align: center;
}

.col {
  width: 20vw;
  float: left;
  padding: 20px;
}

.col.middle {
  margin: 0 30px;
}

.col_img > img {
  height: 20vh;
}

div.col_text h3 {
  color: green;
}

div.col_text hr {
  width: 30%;
  margin: 15px auto;
}

div.col.leftt_bottom{
  width: 30vw;
}
div.col.leftt_bottom img {
  width: 100%;
}

.bottom_row {
margin: 20px auto;
}

div.col.right_bottom {
  text-align: left;
}

div.col.right_bottom h3 {
  font-size: 25px;
  padding: 10px 0;
}

.main_top > p,
h3 ~ p,
div.col.right_bottom p {
  color: grey;
}

div.col.right_bottom a {
  color: #1683da;
}

/* footer */
footer {
  height: 15vh;
  background-color: lightgrey;
}

footer h2 {
  line-height: 15vh;
  vertical-align: middle;
  display: inline;
}

footer .container {
  position: relative;
}

div.bottom_nav {
  position: absolute;
  top: 40%;
  right: 0;
  display: inline;
}

.bottom_nav span {
  color: grey;
  padding: 0 5px;
}

span.select {
  border-bottom: 1px solid grey;
}

span.select::after {
  content: "\25be";
}
